/.vs/AdSec-Grasshopper/v17/.suo
*.suo
/.vs/VSWorkspaceState.json
GhAdSec/bin/x64/Debug
GhAdSec/obj/x64
GhAdSec/obj/Debug
GhAdSec/obj/AdSecGH.csproj.nuget.g.props
GhAdSec/obj/AdSecGH.csproj.nuget.dgspec.json
GhAdSec/obj/AdSecGH.csproj.nuget.g.targets
GhAdSec/obj/project.assets.json
AdSecGHAdapter/obj
AdSecGHAdapter/bin
packages
/.gitignore.bak
/GhAdSec/obj
