<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdSec" version="1.0.1.1" targetFramework="net472" />
  <package id="Grasshopper" version="7.10.21223.7001-rc" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="UnitsNet" version="4.89.0" targetFramework="net472" />
</packages>